button {
  font-size: 110px;
  color:rgb(0,156,108);
  font-weight:2px;
  border-width: 1px;
  margin-left: 2em;
  align-content: center;
}
body {
  background-color:black ;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: azure;
}
